<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournaments Finder</title>

    <!-- Include AngularJS Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- Include Bootstrap CSS and JS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./styles/tournaments-finder.css">

    <script>
        var app = angular.module("kuchModule", []);

        app.controller("kuchController", function ($scope, $http) {
            $scope.init = function() {
                $scope.doFetchCities();
                $scope.doFetchGames();
                $scope.doFetchAllTournaments();
            };

            $scope.doFetchAllTournaments = function () {
                let url = "/fetch-all-tournaments";
                $http.get(url).then(done, fail);

                function done(response) {
                    $scope.tournamentsArray = response.data;
                    $scope.filteredTournamentsArray = $scope.tournamentsArray;
                }

                function fail(err) {
                    alert(err.data);
                }
            };

            $scope.doFetchCities = function () {
                let url = "/fetch-all-cities";
                $http.get(url).then(done, fail);

                function done(response) {
                    $scope.citiesArray = response.data;
                }

                function fail(err) {
                    alert(err.data);
                }
            };

            $scope.doFetchGames = function () {
                let url = "/fetch-all-games";
                $http.get(url).then(done, fail);

                function done(response) {
                    $scope.gamesArray = response.data;
                }

                function fail(err) {
                    alert(err.data);
                }
            };

            $scope.filterTournaments = function () {
                $scope.filteredTournamentsArray = $scope.tournamentsArray.filter(function (tournament) {
                    let cityMatch = !$scope.selectedCity || tournament.city === $scope.selectedCity;
                    let gameMatch = !$scope.selectedGame || tournament.game === $scope.selectedGame;
                    return cityMatch && gameMatch;
                });
            };

            $scope.showDetails = function (tournament) {
                $scope.selectedTournament = tournament;
                $("#myModal").modal('show');
            };
        });
    </script>
</head>
<body ng-app="kuchModule" ng-controller="kuchController" ng-init="init()">
    <div class="container text-center mt-4">
        <h1 class="mb-4" style="margin-top: -20px;">Tournaments Finder</h1>

        <div class="form-group">
            <div style="display: inline-block;">
            <label for="citySelect">Select City:</label>
            <select id="citySelect" class="form-control d-inline w-auto" ng-model="selectedCity">
                <option value="">All Cities</option>
                <option ng-repeat="city in citiesArray" value="{{city.city}}">{{city.city}}</option>
            </select>
            </div>

            <div style="display: inline-block;">
            <label for="gameSelect" class="ml-3">Select Game:</label>
            <select id="gameSelect" class="form-control d-inline w-auto" ng-model="selectedGame">
                <option value="">All Games</option>
                <option ng-repeat="game in gamesArray" value="{{game.game}}">{{game.game}}</option>
            </select>
            </div>

            <br> <br>
            <button class="btn btn-primary ml-3" ng-click="filterTournaments()">Load Tournaments</button>
        </div>

        <div class="row">
            <div class="col-md-4" ng-repeat="tournament in filteredTournamentsArray">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" ng-src="{{tournament.poster}}" alt="Tournament Poster">
                    <div class="card-body">
                        <h5 class="card-title">{{tournament.title}}</h5>
                        <p class="card-text"><strong>Game:</strong> {{tournament.game}}</p>
                        <p class="card-text"><strong>Fee:</strong> {{tournament.fee}}</p>
                        <button class="btn btn-primary btn-block" ng-click="showDetails(tournament)">Know More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">{{selectedTournament.title}}</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Game:</strong> {{selectedTournament.game}}</p>
                    <p><strong>Fee:</strong> {{selectedTournament.fee}}</p>
                    <p><strong>Prizes:</strong> {{selectedTournament.prizes}}</p>
                    <p><strong>Date:</strong> {{selectedTournament.dot}}</p>
                    <p><strong>Location:</strong> {{selectedTournament.location}}</p>
                    <p><strong>City:</strong> {{selectedTournament.city}}</p>
                    <p><strong>Additional Info:</strong> {{selectedTournament.info}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
