body {
    font-family: sans-serif;
    background-color: #f8f9fa; 
    color: #0a0a0a; 
  }

  .card-icon {
    font-size: 50px;
    color: #a11f11; 
  }

  .card {
    background-color: #ffffff; 
    border: 1px solid black; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .col-md-3:hover .card {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }

  .card-title {
    color: #0a0a0a; 
    font-weight: 500;
  }

  .card-text {
    color: #666666; 
  }

  .btn-danger {
    background-color: #a11f11; 
    border-color: #a11f11; 
  }

  .btn-danger:hover {
    background-color: #800000; 
    border-color: #800000; 
  }

  .img-thumbnail {
    max-width: 100px;
    margin: 10px;
    border: 2px solid #dcdcdc; 
  }